@font-face {
    font-family: gameFont;
    src: url(../assets/ARCADECLASSIC.TTF);
}

.game-intro{
	background-color: black;
	text-align: center;
	.logo{
		position: absolute;
		top: 0;
		display: inline;
		width: 100%;
		img{
			filter: grayscale(100%);
			display: block;
		}
	}
	.desc{
		display: block;
		font-size: 30px;
		letter-spacing: 10px;
		font-family: gameFont;
		color: white;
	}
	.titulo{
		font-size: 60px;
		letter-spacing: 10px;
		font-family: gameFont;
		color: white;
		.dt{
			color: #0d0077;
		}
	}
	.bts{
		.bt{
			background: #0d0077;
			font-family: gameFont;
			width: 100%;
			color: #fff;
			max-width: 150px;
			line-height: 65px;
			margin: 15px;
			display: inline-block;
			vertical-align: middle;
			border-radius: 6px;
			position: relative;
			margin-bottom: 60px;
			cursor: pointer;
			-webkit-transition: opacity .3s,background .3s;
			transition: opacity .3s,background .3s;
			min-height: 65px;
		}
	}
}

